In [2]:
import IPython
import pandas as pd
import numpy as np

from datetime import datetime, date
from math import *
import json
%matplotlib inline
from decimal import *
getcontext().prec = 6
import re
from decimal import Decimal

from os import listdir
from os.path import isfile, join

import pandas_ta as ta

In [8]:

df = pd.read_csv("/media/grenada/Data/Accounting/pk-crypto-tax-calculator/data-csv/binance/ALGO_USDT-4h.csv"
).set_axis(['ts','open','high','low','close','volume'],axis=1
).assign(ts=lambda x: pd.to_datetime(x['ts'], unit='ms', utc=False)
).set_index('ts')

df

                       open    high     low   close       volume
ts
2020-09-01 00:00:00  0.5015  0.5212  0.4890  0.5211   6421838.98
2020-09-01 04:00:00  0.5208  0.5536  0.5201  0.5330  14694882.67
2020-09-01 08:00:00  0.5335  0.5357  0.5138  0.5204   4964045.42
2020-09-01 12:00:00  0.5200  0.5239  0.5035  0.5187   5474857.80
2020-09-01 16:00:00  0.5183  0.5355  0.5142  0.5216   5119390.20
...                     ...     ...     ...     ...          ...
2024-01-08 16:00:00  0.1934  0.2006  0.1906  0.1991  12516094.00
2024-01-08 20:00:00  0.1992  0.1995  0.1936  0.1949   7697567.00
2024-01-09 00:00:00  0.1949  0.2032  0.1899  0.1988  29660081.00
2024-01-09 04:00:00  0.1988  0.1994  0.1955  0.1965   6325528.00
2024-01-09 08:00:00  0.1965  0.2001  0.1923  0.1952  10453448.00

[7353 rows x 5 columns]

In [21]:
# df.ta.true_range().head(20)
df[['close']].ta.ema(14).head(50)

ts
2020-09-01 00:00:00         NaN
2020-09-01 04:00:00         NaN
2020-09-01 08:00:00         NaN
2020-09-01 12:00:00         NaN
2020-09-01 16:00:00         NaN
2020-09-01 20:00:00         NaN
2020-09-02 00:00:00         NaN
2020-09-02 04:00:00         NaN
2020-09-02 08:00:00         NaN
2020-09-02 12:00:00         NaN
2020-09-02 16:00:00         NaN
2020-09-02 20:00:00         NaN
2020-09-03 00:00:00         NaN
2020-09-03 04:00:00    0.491243
2020-09-03 08:00:00    0.480850
2020-09-03 12:00:00    0.469657
2020-09-03 16:00:00    0.460223
2020-09-03 20:00:00    0.445340
2020-09-04 00:00:00    0.433148
2020-09-04 04:00:00    0.421395
2020-09-04 08:00:00    0.414369
2020-09-04 12:00:00    0.407320
2020-09-04 16:00:00    0.403477
2020-09-04 20:00:00    0.399547
2020-09-05 00:00:00    0.397767
2020-09-05 04:00:00    0.396612
2020-09-05 08:00:00    0.391263
2020-09-05 12:00:00    0.387842
2020-09-05 16:00:00    0.379369
2020-09-05 20:00:00    0.374320
2020-09-06 00:00:00    0.367971
2020-09-06 04:00:00    0.364815
2020-09-06 08:00:00    0.363573
2020-09-06 12:00:00    0.361643
2020-09-06 16:00:00    0.364344
2020-09-06 20:00:00    0.365858
2020-09-07 00:00:00    0.366557
2020-09-07 04:00:00    0.364829
2020-09-07 08:00:00    0.361385
2020-09-07 12:00:00    0.361387
2020-09-07 16:00:00    0.361309
2020-09-07 20:00:00    0.362761
2020-09-08 00:00:00    0.361713
2020-09-08 04:00:00    0.361845
2020-09-08 08:00:00    0.359119
2020-09-08 12:00:00    0.357396
2020-09-08 16:00:00    0.355357
2020-09-08 20:00:00    0.354509
2020-09-09 00:00:00    0.352588
2020-09-09 04:00:00    0.351856
Name: EMA_14, dtype: float64