In [2]:
import pandas as pd
import numpy as np

from datetime import datetime, date
from math import *
import json
# %matplotlib inline
from decimal import *
# getcontext().prec = 6
# import re
# from decimal import Decimal

# from os import listdir
# from os.path import isfile, join

import pandas_ta as ta

In [ ]:

df = pd.read_csv("/media/grenada/Data/Accounting/pk-crypto-tax-calculator/data-csv/binance/ALGO_USDT-4h.csv"
).set_axis(['ts','open','high','low','close','volume'],axis=1
).assign(ts=lambda x: pd.to_datetime(x['ts'], unit='ms', utc=False)
).set_index('ts')

df

In [ ]:
df.ta.atr().to_csv('atr.csv')
# df.ta.atr().head(30)

In [ ]:
# ta.ema([i+1 for i in range(9)])
# ta.ema(,length=14)
# ta.ema(),length=14)
pd.DataFrame({'close':[i+1 for i in range(200)]}).close.ewm(21).mean().head(50)

In [ ]:

pd.DataFrame({'close':[exp(sin(((i/20)**3/10))) for i in range(200)]}).plot()#.ta.ema(50).plot()

In [ ]:
from ta.volatility import average_true_range as atr
# from ta.volatility import tre as atr
 
import pandas as pd

df = pd.read_csv("/media/grenada/Data/Accounting/pk-crypto-tax-calculator/data-csv/binance/ALGO_USDT-4h.csv"
).set_axis(['ts','open','high','low','close','volume'],axis=1
).assign(ts=lambda x: pd.to_datetime(x['ts'], unit='ms', utc=False)
).set_index('ts')

# dir(ta.volatility.AverageTrueRange(df.high,df.low,df.close, window=14))
# df.volatility_atr()
atr(df.high, df.low, df.close).head(100)

In [ ]:
df.head(20)[['high','low','close']].values.T

In [27]:
np.var([[1,2]])

0.25

In [25]:
np.var(np.arange(30)/30)

0.08324074074074075

In [31]:
pd.DataFrame(np.arange(100)+1).rolling(2).var(ddof=1).head(10)

      0
0   NaN
1  0.25
2  0.25
3  0.25
4  0.25
5  0.25
6  0.25
7  0.25
8  0.25
9  0.25

In [21]:
pd.DataFrame(np.arange(100)).rolling(2).mean().head(10)

     0
0  NaN
1  0.5
2  1.5
3  2.5
4  3.5
5  4.5
6  5.5
7  6.5
8  7.5
9  8.5